<div *ngIf="show">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>Login Form</h1>
          </div>
          <form (ngSubmit)="login()">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input name="email" type="text" [(ngModel)]="model.email" class="form-control" id="email" required />
              <span class="text-danger">Email is Required</span>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input name="password" type="password" [(ngModel)]="model.password" class="form-control" id="password">
              <span class="text-danger">Password is Required</span>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-soochana (ok)="returnSoochana($event)" (cancel)="returnSoochana($event)"></app-soochana>