<br><strong>{{ prerequisiteMessage }}</strong><br><br>
<div class="container-fluid">
    <div class="accordion" id="accordionExample"
        *ngFor="let item of qualificationArray(nqualifications); let i = index;">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        {{ verboseQualificationType + ' Qualification ' + (i + 1) + ': ' + qualificationName(i+1) }}
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <app-qualification [qualificationType]="qualificationType"
                        [verboseQualificationType]="verboseQualificationType" (saved)="updateCount($event)"
                        (deleted)="updateCount($event)" [index]="i+1"></app-qualification>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="!globals.application?.submitted && (qualificationType !== 'high_school' || qualificationsSaved < 2)"
        [ngStyle]="{'margin-right': '10px', 'margin-top': '20px', 'margin-bottom': '20px','width': '100%'}">
        <button class="btn btn-primary" #saveButton [disabled]="nqualifications > qualificationsSaved"
            (click)="addQualification()">Add {{ verboseQualificationType }}</button>
    </div>
</div>