<div class="container-fluid">
    <div class="page-container">
        <div class="page-content-wrapper">

            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Research Statement
                        </button>
                    </h2>
                    
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne">
                        <div class="accordion-body">
                            <form [formGroup]="researchStatementForm">
                                <div *ngIf="globals?.application?.research_preparationUrl" class="form-group">
                                    <div class="label-div">
                                        <label>Current Research Preparation Document</label>
                                    </div>
                                    <div class="control-div">
                                        <a href="{{ globals.application?.research_preparationUrl }}">Saved Research Preparation</a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="label-div">
                                        <span class="required">
                                            <label>{{ globals.candidate ? "Change " : "" }}Research Preparation</label>
                                        </span>
                                    </div>
                                    <div class="control-div">
                                        <input type="file" 
                                        #research_preparation
                                        (change)="researchStatementUpload($any($event.target).files)">
                                    </div>
                                    <div class="help-div">
                                    <label>Describe in a short document how you have emotionally and academically prepared yourself for the
                                        demanding research programs at IIIT-B. Ideally this must complement your Statement of Purpose and also
                                        justify the choice of program / domain / area of research you have indicated. Please make sure the document
                                        you upload is a single .pdf document, size not exceeding {{ globals.fileSizeLimitMsg() }}.
                                        Archives such as .zip/.tar/.rar will not be accepted.</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                

                <div class="accordion-item">
                    
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Your Publications
                        </button>
                    </h2>
                    
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour">
                        <div class="accordion-body">
                            <form [formGroup]="publicationForm">
                                <div *ngIf="globals?.application?.publicationsUrl" class="form-group">
                                    <div class="label-div">
                                    <label>Current List of Publications</label>
                                    </div>
                                    <div class="control-div">
                                    <a href="{{ globals.application?.publicationsUrl }}">Saved List of Publications</a>
                                    <button class="btn" 
                                    #removePublistButton
                                    (click)="removePublist()">Remove</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="label-div">
                                    <label>{{ globals.candidate ? "Change " : "" }}List of Publications</label>
                                    </div>
                                    <div class="control-div">
                                    <input type="file" 
                                    #list_of_publications
                                    (change)="publicationsUpload($any($event.target).files)">
                                    </div>
                                    <div class="help-div">
                                    <label>Please upload a single .pdf document of size not exceeding {{ globals.fileSizeLimitMsg() }},
                                        with a list of all your publications/patents.
                                        Archives such as .zip/.tar/.rar will not be accepted.
                                    </label>                                
                                    </div>
                                </div>


                                <div *ngIf="globals?.application?.publication1Url" class="form-group">
                                    <div class="label-div">
                                        <label>Current Publication 1</label>
                                    </div>
                                    <div class="control-div">
                                    <a href="{{ globals.application?.publication1Url }}">Saved Publication 1</a>
                                    <button class="btn" 
                                    #removePub1Button
                                    (click)="removePub1()">Remove</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="label-div">
                                    <label>{{ globals.candidate ? "Change " : "" }}Publication 1</label>
                                    </div>
                                    <div class="control-div">
                                    <input type="file" 
                                    #publication1
                                    (change)="publication1Upload($any($event.target).files)">
                                    </div>
                                    <div class="help-div">
                                    <label>Please upload the soft copies of one or two of your recent and/or most significant publications as a
                                        single .pdf document of size not exceeding {{ globals.fileSizeLimitMsg() }}.
                                        Archives such as .zip/.tar/.rar will not be accepted.</label>
                                    </div>
                                </div>

                                <div *ngIf="globals?.application?.publication2Url" class="form-group">
                                    <div class="label-div">
                                        <label>Current Publication 2</label>
                                    </div>
                                    <div class="control-div">
                                    <a href="{{ globals.application?.publication2Url }}">Saved Publication 2</a>
                                    <button class="btn" 
                                    #removePub2Button
                                    (click)="removePub2()">Remove</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="label-div">
                                    <label>{{ globals.candidate ? "Change " : "" }}Publication 2</label>
                                    </div>
                                    <div class="control-div">
                                    <input type="file" 
                                    #publication2
                                    (change)="publication2Upload($any($event.target).files)">
                                    </div>
                                    <div class="help-div">
                                    <label>Please upload the soft copies of one or two of your recent and/or most significant publications as a
                                        single .pdf document of size not exceeding {{ globals.fileSizeLimitMsg() }}.
                                        Archives such as .zip/.tar/.rar will not be accepted.</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-soochana></app-soochana>
<!-- <app-soochana (ok)="returnSoochana($event)" (cancel)="returnSoochana($event)"></app-soochana> -->
