<!-- <form [formGroup]="identityForm">
    <div *ngFor="let identity of identityArray" class="form-group" style="width:100%; padding-top:20px; clear:both;">
        <div class="label-div">
            <span *ngIf="identity.required" class="required"><label>{{ identity.label }}</label></span>
            <span *ngIf="!identity.required"><label>{{ identity.label }}</label></span>
        </div>
        <div class="control-div">
            <input autofocus class="form-control" type="text" id="{{ identity.field }}" name="{{ identity.field }}"
                formControlName="{{ identity.field }}" [disabled]="alreadyFrozen" [required]="identity.required">
        </div>
        <div class="help-div">
            <label>{{ identity.help }}</label>
        </div>
    </div>
</form> -->