<div class="container-fluid">
    <div class="page-container">
        <div class="page-content-wrapper">
            <div class="accordion" id="accordionPanelsStayOpenExample">

                <div class="accordion-item">
                    
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Work Experience
                        </button>
                    </h2>
                    
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                        <div class="accordion-body">
                            <form [formGroup]="workExperienceForm">
                                <div *ngIf="globals.application?.work_experienceUrl" class="form-group">
                                    <div class="label-div">
                                        <label>Current Work Experience Document</label>
                                    </div>
                                    <div class="control-div">
                                        <a href="{{ globals.application?.work_experienceUrl }}">Saved Work Experience</a>
                                        <button class="btn"
                                        title="Remove"
                                        (click)="removeWorkExperience()">Delete</button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="label-div">
                                        <label>{{ globals.candidate ? "Change " : "" }}Work Experience</label>
                                    </div>
                                    <div class="control-div">
                                        <input type="file"
                                            #work_experience
                                            (change)="workExperienceUpload($any($event.target).files)"
                                        >
                                    </div>
                                    <div class="help-div">
                                        <label>
                                            'Please upload a single .pdf document of size not exceeding {{ globals.fileSizeLimitMsg() }},
                                            with details of your work experience,
                                            the professional roles you have played along with their relevance to the research you wish to undertake.
                                            Please make sure that the work experience shown includes the Name of organization, Period (from-to),
                                            Designation, and the nature of work performed.
                                            Archives such as .zip/.tar/.rar will not be accepted.'
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Other Information
                        </button>
                    </h2>
                    
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                        <div class="accordion-body">
                            <form [formGroup]="othersForm">
                                <div class="form-group">
                                    <div class="label-div">
                                        <label>Hobbies</label>
                                    </div>
                                    <div class="control-div">
                                        <input autofocus class="form-control"
                                        type="text" id="hobbies"
                                        name="hobbies"
                                        formControlName="hobbies"
                                        >
                                    </div>
                                    <div class="help-div">
                                        <label>
                                            Please give a short description of your hobbies and wider interests and accomplishments. We do believe
                                            that these are indicators of a well-rounded personality and are very important for a career in research.
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="label-div">
                                        <label>Other Special Remarks</label>
                                    </div>
                                    <div class="control-div">
                                        <input autofocus class="form-control"
                                        type="text" id="special_remarks"
                                        name="special_remarks"
                                        formControlName="special_remarks"
                                        >
                                    </div>
                                    <div class="help-div">
                                        <label>
                                            Indicate anything else that you may want to add about your application, including special needs,
                                            consideration for other programs, specific academic requirements, and any other information that you
                                            think will help make an informed decision regarding your application for admission.
                                        </label>
                                      </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div *ngIf="!globals.application?.submitted">
    <label *ngIf="saveButton?.disabled" class="validity-message">
        {{ globals.validityNote }}
    </label>
    <button class="btn btn-primary" #saveButton
        [disabled]="((!workExperienceForm.touched && 
        !othersForm.touched && 
        workExpControl.nativeElement?.value ==='') || 
        !othersForm.valid)"
    >
        Save
    </button>
</div> -->


<app-soochana></app-soochana>
<!-- <app-soochana (ok)="returnSoochana($event)" (cancel)="returnSoochana($event)"></app-soochana> -->
